@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

:root {
    --off-white: #f9efe6;
    --light-tan: #f0e4d8;
    --tan: #e0d2c3;
    --to-do-background: #97acc4;
    --assignment-background: #97c4b6;
    --calendar-background: #dc9d93;
    --to-do-text: #3c4750;
    --to-do-date-text: #5d6d7b;
    --default-course-color: #609282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handlee", cursive;
}

header {
    font-size: 1.2rem;
    padding: 1rem 4rem 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--off-white);
    overflow: hidden;
    box-shadow: 0px -8px 10px 1px rgba(0, 0, 0, 0.3) inset;
}

h1,
h2,
#count {
    color: black;
    font-weight: bold;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    color: black;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
}

button.tab {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: 0.4em 2em;
    border-radius: 10% 10% 0 0;
    z-index: 1;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color */
    box-shadow: 0px -8px 10px 1px rgba(0, 0, 0, 0.2),
        /* top */ -8px 0px 10px 1px rgba(0, 0, 0, 0.2),
        /* left */ 8px 0px 10px 1px rgba(0, 0, 0, 0.2); /* right */
    margin: 0;
}

#to-do-tab {
    background-color: var(--to-do-background);
    border-color: var(--to-do-background);
}

#assignment-tab {
    background-color: var(--assignment-background);
    border-color: var(--assignment-background);
}

#calendar-tab {
    background-color: var(--calendar-background);
    border-color: var(--calendar-background);
}

main {
    background-color: var(--to-do-background);
    padding: 3rem 10rem;
    z-index: 2;
}

input,
textarea {
    background: none;
    border: none;
    font-size: 1em;
    color: var(--to-do-text);
    line-height: 2em;
    outline: none;
    padding-right: 5em;
}

li {
    font-size: 1.5em;
    color: var(--to-do-text);
    line-height: 2em;
}

li.to-do, li.items {
    font-size: 1.5em;
    color: var(--to-do-text);
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

li.to-do p, p.date {
    font-size: 0.5em;
    color: var(--to-do-date-text);
    line-height: 1;
    margin-top: 0.4em;
}

hr {
    border: none;
    height: 2px; /* Sets the thickness of the line */
    background-color: var(--to-do-text);
}

#to-do-page,
#assignment-page,
#calendar-page {
    background-color: var(--tan);
    width: 100%;
    height: 100%;
    border-radius: 4%;
    padding: 2.5rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#to-do-page,
#assignment-page {
    height: 100dvh;
}

.hidden {
    display: none;
}

button,
select {
    padding: 0.5rem;
    border-radius: 10%;
    margin-bottom: 0.5rem;
    background-color: var(--off-white);
    color: black;
    transition-duration: 0.3s;
    cursor: pointer;
    border: solid 2px var(--to-do-background);
    margin: 0.5rem 0.5rem 0.5rem 0;
}

button.add-to-do {
    background-color: var(--off-white);
    border: solid 2px var(--to-do-background);
    transition-duration: 0.3s;
}

#course-list-button,
.assignment,
button.assignment-btn {
    background-color: var(--off-white);
    border: solid 2px var(--assignment-background);
    transition-duration: 0.3s;
}

#course-list-button:hover,
.assignment:hover,
button.assignment-btn:hover {
    background-color: var(--assignment-background);
    color: var(--off-white);
    transition-duration: 0.3s;
}

button.add-to-do:hover {
    background-color: var(--to-do-background);
    color: var(--off-white);
}

button.add-to-calendar,
button.confirm-date,
button.cancel,
button.add-assignment {
    background-color: var(--off-white);
    border: solid 2px var(--calendar-background);
    transition-duration: 0.3s;
}

button.add-to-calendar:hover,
button.confirm-date:hover,
button.cancel:hover,
button.add-assignment:hover {
    background-color: var(--calendar-background);
    color: var(--off-white);
}

h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
/* #date-input {
    border-color: black;
    border-radius: 5%;
} */

input[type="date"] {
    width: 8em;
    min-width: 0;
    max-width: 100%;
    padding: 0.2em 1.3em 0em 0em; /* top right bottom left */
    margin: 0.5em;
}

button:disabled,
button:disabled:hover {
    cursor: not-allowed;
    background-color: lightgrey;
    border: solid 2px lightgrey;
    color: grey;
}

#count,
#course-list-button {
    display: flex;
    justify-content: flex-end;
}

ul.course-list {
    list-style: none;
    padding: 0;
}

.course-list-section {
    background-color: var(--light-tan);
    border: 2px solid var(--assignment-background);
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em 0;
    overflow: hidden;
}

.course-list-section ul {
    padding-left: 1.5em;
    margin-left: 0;
}

.color-tag {
    color: var(--to-do-date-text);
}

.course-color-picker {
    width: 2em;
    height: 2em;
    min-width: 2em;
    min-height: 2em;
    border: 1px solid var(--light-tan);
    border-radius: 10%;
    background: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    margin-right: 1em;
    margin-left: 0.5em;
}

.course-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.course-list-item {
    display: flex;
    align-items: center;
    gap: 0em;
    margin-bottom: 0.1em;
    font-size: 1.2em;
}

.course-name {
    flex: 1;
}

.help-button-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.help-button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--light-tan);
    color: var(--to-do-text);
    font-size: 2em;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.help-button:hover {
    background: var(--tan);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.help-popup {
    background: #fffbe8;
    color: #3c4750;
    border: 1px solid #e0d2c3;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    max-width: 550px;
    min-width: 300px;
    font-size: 1em;
    position: absolute;
    bottom: 3.5em;
    right: 0;
    z-index: 1001;
}

input[type="text"] {
    width: 16em;
    max-width: 100%;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-text-fill-color: none;
    transition: background-color 5000s ease-in-out 0s;
}
